<h1><%= _('To join %s, you must authorize:') % profile.name %></h1>

<p>
  <%= _('Visibility of your email address') % profile.name %><br>
  <span><%= _('Only for the admin') %></span>
</p>


<%= form_tag url_for({:action => :join_modal, :controller => :profile}) do %>
  <%= hidden_field_tag('back_to', @back_to) %>
  <%= hidden_field_tag(:confirmation, 1) %>
  <%= hidden_field_tag(:show_email, 1) %>
  <%= submit_button(:ok, _("Yes, I want to join.") % profile.name) %>
  <%= modal_close_button _("No, I don't want") %>
<% end %>
